/*todo use less color, colors only for highlights*/
/*todo change header text*/
/*fixme font scaling and div widths for mobile/resonsive*/
.nav-a-style-normal:hover i {
  color: #e77359;
  -webkit-transform: scale3d(1.4, 1.4, 1.4);
          transform: scale3d(1.4, 1.4, 1.4);
}
.nav-a-style-normal:hover p {
  opacity: 1;
}
.color-white {
  color: #fff;
}
.nav-a-style-green:hover i {
  text-shadow: 3px 3px 2px #444;
  color: #e77359;
  -webkit-transform: scale3d(1.4, 1.4, 1.4);
          transform: scale3d(1.4, 1.4, 1.4);
}
.nav-a-style-alt:hover i {
  text-shadow: 3px 3px 2px #444;
  color: #222;
  -webkit-transform: scale3d(1.4, 1.4, 1.4);
          transform: scale3d(1.4, 1.4, 1.4);
}
.nav-active {
  color: #c8c8c8;
}
.nav-active i {
  -webkit-transform: scale3d(1.4, 1.4, 1.4);
          transform: scale3d(1.4, 1.4, 1.4);
}
.page-bg-green {
  background-color: #e77359;
}
.page-bg-red {
  background-color: #5885b9;
}
.page-bg-dark {
  background-color: #222;
}
.page-bg-white {
  background-color: #f7f7f7;
}
.page-bg-grey {
  background-color: #808080;
}
.center {
  text-align: center;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
a {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
em {
  font-style: italic;
}
hr {
  max-width: 150px;
  border-width: 2px;
}
.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #5885b9;
  color: #f7f7f7;
  margin: 25px 5px 10px 5px;
  border-radius: 6px;
  padding: 15px 30px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px #111;
  font-size: 1vw;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .button {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 659px) {
  .button {
    font-size: 3vw;
  }
}
.button:hover {
  background-color: #5885b9;
  border-color: #fff;
  color: #fff;
}
.a-contact {
  color: #f7f7f7;
  text-shadow: 3px 3px 2px #111;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.a-contact:active {
  text-shadow: 0 0 0;
}
.a-contact:hover {
  color: #5885b9;
}
.container {
  margin: 3% 25% 0 25%;
  width: 50%;
  font-size: 1vw;
  border-radius: 15px;
  padding: 25px 0 25px 0;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .container {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 659px) {
  .container {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 659px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
.flex-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
nav {
  overflow: hidden;
  width: 100%;
  position: fixed;
  background: rgba(34, 34, 34, 0.1);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 999;
  /*@media @mq-medium {
    font-size: @a-font-size-md;
  }
  @media @mq-small{
    font-size: @a-font-size-sml;
  }*/
  font-size: 1vw;
}
@media only screen and (max-width: 1000px) {
  nav {
    background: #222222;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  nav {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 659px) {
  nav {
    font-size: 3vw;
  }
}
nav .navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  nav .navbar-nav {
    margin: 0 12%;
    float: none;
    width: 100%;
    font-size: 1.2em;
  }
}
nav .navbar-nav ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav .navbar-nav li {
  float: left;
}
nav .navbar-nav a {
  display: block;
  text-align: center;
  padding: 16px 30px 16px 30px;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #dcdcdc;
}
nav .navbar-nav a #tt-about {
  -webkit-transform: translateX(-8%) translateY(15px);
          transform: translateX(-8%) translateY(15px);
}
nav .navbar-nav a #tt-portfolio {
  -webkit-transform: translateX(-28%) translateY(17px);
          transform: translateX(-28%) translateY(17px);
}
nav .navbar-nav a #tt-contact {
  -webkit-transform: translateX(-20%) translateY(15px);
          transform: translateX(-20%) translateY(15px);
}
nav .navbar-nav a h4 {
  font-size: 18px;
  margin-bottom: 13px;
}
nav .navbar-nav a p {
  opacity: 0;
  position: fixed;
  color: #111;
  background: #f7f7f7;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 0.5em;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
nav .navbar-nav a p::before {
  content: '';
  position: absolute;
  top: -0.8vw;
  left: 50%;
  margin-left: -0.5vw;
  border-width: 0.5vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  nav .navbar-nav a {
    padding: 16px 15px 16px 15px;
  }
}
@media only screen and (max-width: 659px) {
  nav .navbar-nav a {
    padding: 16px 8px 8px 15px;
  }
}
nav .navbar-nav a:hover {
  color: #ffffff;
}
nav h1 {
  position: absolute;
  width: 20%;
  left: 40%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 10px;
  color: #f7f7f7;
  font-size: 1.4em;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
@media only screen and (max-width: 900px) {
  nav h1 {
    display: none;
  }
}
.navbar-up-home {
  opacity: 0;
  position: absolute;
  width: 10%;
  margin: 0 1%;
  text-align: left;
  float: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1vw;
  font-size: 1.5em;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .navbar-up-home {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 659px) {
  .navbar-up-home {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 659px) {
  .navbar-up-home {
    padding: 10px;
  }
  .navbar-up-home:focus i {
    box-shadow: none;
  }
}
header,
section,
footer {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #f7f7f7;
}
header h1,
section h1,
footer h1 {
  text-transform: uppercase;
  padding: 20px;
  font-size: 3.5em;
  font-weight: 700;
}
header h2,
section h2,
footer h2 {
  padding: 5px;
  font-size: 3em;
}
header h3,
section h3,
footer h3 {
  font-size: 2.5em;
  font-weight: 700;
}
header p,
section p,
footer p {
  padding: 8px;
  font-size: 1.5em;
}
header {
  height: 95%;
  background-position: center;
  background-image: url(../../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
header div {
  margin-top: 10% !important;
}
header div a {
  font-size: 1.5em;
  /*.inverse {
            color: #ffffff;
            background-color: rgba(34, 34, 34, .3);
            border-radius: 50%;

        }*/
}
header div a i {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
header div a:hover i {
  -webkit-transform: scale3d(1.4, 1.4, 1.4);
          transform: scale3d(1.4, 1.4, 1.4);
  color: #fff;
}
header div a:focus {
  text-shadow: none;
}
#about {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../../img/background.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  color: #fff;
  padding-top: 40px;
  min-height: 100%;
}
#about a {
  font-size: 2em;
}
#about a i {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#about a:hover i {
  -webkit-transform: scale3d(1.4, 1.4, 1.4);
          transform: scale3d(1.4, 1.4, 1.4);
  color: #fff;
}
#about a:focus {
  text-shadow: none;
}
#about .flex-container {
  color: #222;
  padding-top: 80px;
  padding-bottom: 55px;
  justify-content: space-around;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  #about .flex-container {
    -webkit-box-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 659px) {
  #about .flex-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
#about .flex-container h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-weight: bold;
  font-size: 3vw;
}
#about .flex-container h3 {
  text-align: center;
  font-weight: normal;
}
#about .flex-container p {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#about .flex-container div {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px;
  width: 23%;
  min-width: 300px;
  margin-top: 25px;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  #about .flex-container div {
    width: 80%;
  }
}
@media only screen and (max-width: 659px) {
  #about .flex-container div {
    width: 90%;
  }
}
#about .flex-container table {
  min-width: 300px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
#about .flex-container img {
  border-radius: 50%;
  max-width: 100%;
  margin-right: 10px;
  height: auto;
  float: left;
}
#about .flex-container #about-learning {
  width: 45%;
}
@media only screen and (max-width: 659px) {
  #about .flex-container #about-learning {
    width: 100%;
  }
}
#about .flex-container #about-learning .learning {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 659px) {
  #about .flex-container #about-learning .learning {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
#about .flex-container #about-learning p {
  font-weight: bold;
  width: 220px;
  background: rgba(60, 60, 60, 0.9);
  color: #f7f7f7;
  border-radius: 50px;
  margin: 8px;
  padding: 10px 15px 12px 15px;
  text-align: center;
}
#about .flex-container #about-skills-div {
  width: 45%;
  text-align: left;
}
@media only screen and (max-width: 659px) {
  #about .flex-container #about-skills-div {
    width: 100%;
  }
}
#about .flex-container #about-skills-div th {
  padding-top: 30px;
}
#about .flex-container #about-skills-div tr {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
#about .flex-container #about-skills-div tr td {
  padding: 20px 30px 20px 30px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  #about .flex-container #about-skills-div tr td {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
            justify-content: center;
  }
}
#about .flex-container #about-skills-div tr p {
  font-weight: bold;
  width: 220px;
  background: rgba(60, 60, 60, 0.9);
  color: #f7f7f7;
  border-radius: 50px;
  margin: 15px;
  padding: 10px 15px 12px 15px;
  text-align: center;
}
#about .flex-container #about-skills-div h3 {
  text-align: center;
}
#about-info {
  background: rgba(235, 235, 235, 0.9);
  color: #111;
  border-radius: 10px;
  width: 58%;
  margin: 0 auto;
  line-height: 42px;
  padding: 20px;
}
@media only screen and (max-width: 659px) {
  #about-info {
    width: 100%;
    padding: 0;
  }
}
#about-info img {
  border-radius: 50%;
  margin: 20px;
}
footer {
  min-height: 100%;
}
footer a {
  font-size: 1.5vw;
}
footer .container {
  background: rgba(200, 200, 200, 0.226);
}
footer #email {
  margin: 2% 0 2% 0;
}
footer #email a {
  font-size: 1.2em;
}
footer #email a i {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
footer #email a:hover i {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}
/*.show-proj-details() {
    &:hover img,
    &:active img {
        opacity: 0.3;
    }
    &:hover .img-text,
    &:active .img-text {
        top: 5%
    }
    &:hover .img-info-expand,
    &:active .img-info-expand {
        opacity: 0;
    }
}*/
#portfolio {
  padding-top: 25px;
}
.show-proj-details img {
  opacity: 0.3;
}
.show-proj-details .img-text {
  top: 0;
}
.img-container {
  overflow: hidden;
  width: 20%;
  min-width: 300px;
  background-color: #eeeeee;
  color: #222;
  font-weight: 700;
  text-align: right;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  margin: 30px;
  border-radius: 5px;
  font-size: 1vw;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .img-container {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 659px) {
  .img-container {
    font-size: 3vw;
  }
}
.img-container div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
}
.img-container p {
  font-size: 1.1em;
  padding: 4px 8px 8px 8px;
}
.img-container strong {
  font-weight: 700;
  color: #e77359;
}
.img-container em {
  color: #5885b9;
  text-decoration: line-through;
}
.img-container img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0;
}
.img-container .img-text {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  font-size: 1vw;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .img-container .img-text {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 659px) {
  .img-container .img-text {
    font-size: 3vw;
  }
}
.img-container .img-text a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.4em;
}
.img-container .img-text a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #5d9ee9;
}
.img-container .img-text .fa-check-circle-o {
  color: #e77359;
}
.img-container .img-text .fa-times-circle-o {
  color: #5885b9;
}
.img-container .img-text p {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
  padding: 8px;
  font-weight: 700;
  color: #f7f7f7;
  text-align: left;
}
.img-container .img-text p i {
  position: relative;
  color: #f7f7f7;
}
.img-container:hover img,
.img-container:active img {
  opacity: 0.3;
}
.img-container:hover .img-text,
.img-container:active .img-text {
  top: 0;
}
