// autoprefixer: > 1%, last 2 versions, Firefox ESR

/*todo use less color, colors only for highlights*/

/*todo change header text*/

/*fixme font scaling and div widths for mobile/resonsive*/

//variables
@color-alt: rgb(88, 133, 185);
@color-light: rgb(231, 115, 89);
// @color-light: #3ab76d;
// @color-alt: #fe7251;
//@color-alt: #E56149;
//color-light: #35A85C;
@color-dark: #222;
@font-main: 'Raleway', sans-serif;
@font-alt: 'Montserrat', sans-serif;
@a-font-size-lg: 1vw;
@a-font-size-md: 2vw;
@a-font-size-sml: 3vw;
@padding-nav-a-large: 16px 30px 16px 30px;
@padding-nav-a-medium: 16px 15px 16px 15px;
@padding-nav-a-small: 16px 8px 8px 15px;
@mq-medium: ~'only screen and (max-width: 1465px) and (min-width: 678px)';
@mq-small: ~'only screen and (max-width: 677px)';
//utility classes
//js
//to change hover colors for navbar nav links in each section
.responsive-text() {
  font-size: @a-font-size-lg;
  @media @mq-medium {
    font-size: @a-font-size-md;
  }
  @media @mq-small {
    font-size: @a-font-size-sml;
  }
}

.nav-a-style-normal {
  &:hover i {
    color: @color-light;
    transform: scale3d(1.4, 1.4, 1.4);
  }
  &:hover p {
    opacity: 1;
  }
}

.color-white {
  color: #fff;
}

.nav-a-style-green {
  &:hover i {
    text-shadow: 3px 3px 2px #444;
    color: @color-light;
    transform: scale3d(1.4, 1.4, 1.4);
  }
}

.nav-a-style-alt {
  &:hover i {
    text-shadow: 3px 3px 2px #444;
    color: @color-dark;
    transform: scale3d(1.4, 1.4, 1.4);
  }
}

.nav-active {
  i {
    transform: scale3d(1.4, 1.4, 1.4);
  }
  color: rgb(200, 200, 200);
}

//font classes
.alt-sans-font() {
  font-family: @font-alt;
  font-weight: 400;
}

.main-sans-font() {
  font-family: @font-main;
  font-weight: 300;
}

//transition classes
.transition-short() {
  transition: all 0.1s ease-in-out;
}

.transition-long() {
  transition: all 0.3s ease-in-out;
}

//section background colors
.page-bg-green {
  background-color: @color-light;
}

.page-bg-red {
  background-color: @color-alt;
}

.page-bg-dark {
  background-color: @color-dark;
}

.page-bg-white {
  background-color: #f7f7f7;
}

.page-bg-grey {
  background-color: #808080;
}

//other utils
.center {
  text-align: center;
}

.vertical-center() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hidden() {
  visibility: hidden;
}

//main rules
//global tags
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  .transition-short;
}

em {
  font-style: italic;
}

hr {
  max-width: 150px;
  border-width: 2px;
  //margin: 40px auto;
}

//global elements
.button {
  .main-sans-font;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid @color-alt;
  color: #f7f7f7;
  margin: 25px 5px 10px 5px;
  border-radius: 6px;
  padding: 15px 30px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px #111;
  .responsive-text;
  .transition-short;
  flex: 0 0 auto;
  &:hover {
    background-color: @color-alt;
    border-color: #fff;
    color: #fff;
  }
}

.a-contact {
  color: #f7f7f7;
  text-shadow: 3px 3px 2px #111;
  .transition-short;
  text-decoration: none;
  // .responsive-text;
  //font-size: 1.5em;
  &:active {
    text-shadow: 0 0 0;
  }
  &:hover {
    color: @color-alt;
  }
}

//containers
.container {
  margin: 3% 25% 0 25%;
  width: 50%;
  .responsive-text;
  @media @mq-medium {
    width: 100%;
    margin: 0;
  }
  @media @mq-small {
    width: 100%;
    margin: 0;
  }
  border-radius: 15px;
  padding: 25px 0 25px 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //margin-top: 3%;
}

//navigation
nav {
  overflow: hidden;
  width: 100%;
  position: fixed;
  background: rgba(34, 34, 34, 0.1);
  .main-sans-font;
  font-weight: bold;
  //font-size: @a-font-size-lg;
  text-transform: uppercase;
  .transition-short;
  z-index: 999;
  /*@media @mq-medium {
    font-size: @a-font-size-md;
  }
  @media @mq-small{
    font-size: @a-font-size-sml;
  }*/
  .responsive-text;
  //nav links
  .navbar-nav {
    float: right;
    list-style-type: none;
    margin: 0;
    //padding: .6% 0 0 0;
    ul {
      .vertical-center;
    }
    li {
      float: left;
    }
    a {
      display: block;
      text-align: center;
      padding: @padding-nav-a-large;
      text-decoration: none;
      .transition-short;
      color: rgb(220, 220, 220);
      //tool tips
      #tt-about {
        transform: translateX(-8%) translateY(15px);
      }
      #tt-portfolio {
        transform: translateX(-28%) translateY(17px);
      }
      #tt-contact {
        transform: translateX(-20%) translateY(15px);
      }
      h4 {
        font-size: 18px;
        margin-bottom: 13px;
      }
      p {
        opacity: 0;
        position: fixed;
        color: #111;
        background: #f7f7f7;
        border-radius: 5px 5px 5px 5px;
        border: 1px solid #111;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        padding: 5px;
        font-size: 0.5em;
        transition: all 0.5s ease-in;
        transition-delay: 0.3s;
        &::before {
          content: '';
          position: absolute;
          top: -0.8vw;
          left: 50%;
          margin-left: -0.5vw;
          border-width: 0.5vw;
          border-style: solid;
          border-color: transparent transparent #fff transparent;
        }
      }
      @media @mq-medium {
        padding: @padding-nav-a-medium;
      }
      @media @mq-small {
        padding: @padding-nav-a-small;
      }
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
  h1 {
    position: absolute;
    width: 20%;
    left: 40%;
    @media @mq-small {
      left: 25%;
    }
    text-align: center;
    //float: left;
    //text-align: left;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
    color: #f7f7f7;
    font-size: 1.4em;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }
}

//up/home button
.navbar-up-home {
  opacity: 0;
  position: absolute;
  width: 10%;
  //margin: 0 45%;
  //text-align: center;
  margin: 0 1%;
  text-align: left;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  .responsive-text;
  font-size: 1.5em;
  @media @mq-small {
    padding: 10px;
    //margin: 0 40%;
    &:focus i {
      box-shadow: none;
    }
  }
}

//sections
header,
section,
footer {
  width: 100%;
  //min-height: 100%;
  padding: 60px 0;
  text-align: center;
  .main-sans-font;
  color: #f7f7f7;
  //color: #222;
  h1 {
    text-transform: uppercase;
    padding: 20px;
    font-size: 3.5em;
    font-weight: 700;
  }
  h2 {
    //text-transform: uppercase;
    padding: 5px;
    font-size: 3em;
  }
  h3 {
    font-size: 2.5em;
    font-weight: 700;
  }
  p {
    padding: 8px;
    font-size: 1.5em;
  }
}

//section specific
header {
  height: 95%;
  background-position: center;
  background-image: url(../../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  div {
    margin-top: 10% !important;
    //background: rgba(34, 34, 34, 0.4);
    a {
      //position: relative;
      //width: 10%;
      font-size: 1.5em;
      //left: 45%;
      //top: 50%;
      /*.inverse {
            color: #ffffff;
            background-color: rgba(34, 34, 34, .3);
            border-radius: 50%;

        }*/
      i {
        .transition-short;
        //text-shadow: none;
        //.responsive-text;
      }
      &:hover i {
        //text-shadow: 6px 6px 2px #111;
        transform: scale3d(1.4, 1.4, 1.4);
        color: #fff;
      }
      &:focus {
        text-shadow: none;
      }
    }
  }
}

#about {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../../img/background.jpg); //url(../../img/background-grey.jpg);
  filter: grayscale(100%);
  color: #fff;
  padding-top: 40px;
  min-height: 100%;
  a {
    font-size: 2em;
    i {
      .transition-short;
    }
    &:hover i {
      //text-shadow: 6px 6px 2px #111;
      transform: scale3d(1.4, 1.4, 1.4);
      color: #fff;
    }
    &:focus {
      text-shadow: none;
    }
  }
  .flex-container {
    color: #222;
    padding-top: 80px;
    padding-bottom: 55px;
    justify-content: space-around;
    @media @mq-medium {
      flex-direction: column;
      align-items: center;
    }
    @media @mq-small {
      padding-top: 0;
      padding-bottom: 0;
    }
    h2 {
      .main-sans-font;
      font-weight: bold;
      font-size: @a-font-size-sml;
    }
    h3 {
      text-align: center;
      font-weight: normal;
    }

    p {
      text-align: right;
      .alt-sans-font;
    }
    div {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
      padding: 30px;
      width: 23%;
      @media @mq-medium {
        width: 70%;
      }
      @media @mq-small {
        width: 90%;
      }
      min-width: 300px;
      margin-top: 25px;
      //flex-wrap: nowrap;
    }
    table {
      min-width: 300px;
      margin-top: 25px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
    }
    img {
      border-radius: 50%;
      max-width: 100%;
      margin-right: 10px;
      height: auto;
      float: left;
    }
    #about-learning {
      width: 45%;
      .learning {
        display: flex;
        flex-wrap: wrap;

        margin: auto;
        background: rgba(0, 0, 0, 0);
      }
      p {
        font-weight: bold;
        width: 220px;
        background: rgba(60, 60, 60, 0.9);
        color: #f7f7f7;
        border-radius: 50px;
        margin: 15px;
        padding: 10px 15px 12px 15px;
        text-align: center;
      }
    }
    #about-skills-div {
      width: 45%;
      th {
        padding-top: 30px;
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        td {
          padding: 20px 30px 20px 30px;
          margin-bottom: 20px;
          @media @mq-small {
            padding: 0;
            margin: 0;
          }
        }
        p {
          font-weight: bold;
          width: 220px;
          background: rgba(60, 60, 60, 0.9);
          color: #f7f7f7;
          border-radius: 50px;
          margin: 15px;
          padding: 10px 15px 12px 15px;
          text-align: center;
        }
      }
      h3 {
        .center;
      }
      text-align: left;
    }
  }
}
#about-info {
  background: rgba(235, 235, 235, 0.9);
  color: #111;
  border-radius: 10px;
  width: 58%;
  margin: 0 auto;
  line-height: 42px;
  padding: 20px;

  @media @mq-small {
    margin: 0;
  }
  img {
    border-radius: 50%;
    margin: 20px;
  }
}
footer {
  min-height: 100%;
  a {
    font-size: 1.5vw;
  }
  .container {
    background: rgba(200, 200, 200, 0.226);
  }
  #email {
    margin: 2% 0 2% 0;
    a {
      i {
        .transition-short;
      }
      font-size: 1.2em;
      &:hover i {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
  }
}

//portfolio images/links
//class to show project details

/*.show-proj-details() {
    &:hover img,
    &:active img {
        opacity: 0.3;
    }
    &:hover .img-text,
    &:active .img-text {
        top: 5%
    }
    &:hover .img-info-expand,
    &:active .img-info-expand {
        opacity: 0;
    }
}*/

#portfolio {
  padding-top: 25px;
}

.show-proj-details {
  img {
    opacity: 0.3;
  }
  .img-text {
    top: 0;
  }
  // .img-info-expand {
  //   opacity: 0;
  // }
}

.img-container {
  overflow: hidden;
  width: 20%;
  min-width: 300px;
  background-color: #eeeeee;
  color: @color-dark;
  font-weight: 700;
  text-align: right;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  margin: 30px;
  border-radius: 5px;
  .responsive-text;
  //border: 15px solid rgb(247,247,247);
  div {
    position: absolute;
    //background: black;
    width: 100%;
    height: 100%;
    top: 10%;
  }
  p {
    font-size: 1.3em;
    padding: 4px 8px 8px 8px;
  }
  strong {
    font-weight: 700;
    color: @color-light;
  }
  em {
    color: @color-alt;
    text-decoration: line-through;
  }
  // .img-info-expand {
  //   text-align: center;
  //   padding: 0;
  //   margin: 0;
  //   position: absolute;
  //   width: 13%;
  //   height: 7%;
  //   left: 45%;
  //   top: -4px;
  //   .transition-long;
  //   //.show-proj-details;
  //   i {
  //     // background: #f7f7f7;
  //     color: rgba(247, 247, 247, 0.801);
  //     border-radius: 0 0 10px 10px;
  //     width: 100%;
  //     height: 100%;
  //     padding: 8px 0 0 0;
  //     // box-shadow: 3px 3px 4px 0 rgba(34, 34, 34, 0.8);
  //     font-size: 1.2em;
  //     // opacity: 0.5;
  //   }
  // }
  img {
    transition: all 0.3s ease;
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0;
  }
  .img-text {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 5px;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    .responsive-text;
    a {
      color: rgb(238, 238, 238);
      text-decoration: none;
      font-size: 1.4em;
      &:hover {
        transform: scale(1.1);
        color: rgb(93, 158, 233);
      }
    }
    .fa-check-circle-o {
      color: @color-light;
    }
    .fa-times-circle-o {
      color: @color-alt;
    }
    p {
      .transition-long;
      font-size: 1.2em;
      padding: 8px;
      font-weight: 700;
      color: #f7f7f7;
      text-align: left;
      i {
        position: relative;
        color: #f7f7f7;
      }
    }
  }
  &:hover,
  &:active {
    .show-proj-details;
  }
}
