/*todo use less color, colors only for highlights*/
/*todo change header text*/
/*todo add div to about, add info, pic and skills*/
/*fixme font scaling and div widths for mobile/resonsive*/
.nav-a-style-normal:hover i {
  color: #FE7251;
  transform: scale3d(1.5, 1.5, 1.5);
}
.nav-a-style-normal:hover p {
  opacity: 1;
}
.color-white {
  color: #fff;
}
.nav-a-style-green:hover i {
  text-shadow: 3px 3px 2px #444;
  color: #3AB76D;
  transform: scale3d(1.5, 1.5, 1.5);
}
.nav-a-style-alt:hover i {
  text-shadow: 3px 3px 2px #444;
  color: #222;
  transform: scale3d(2, 2, 2);
}
.nav-active {
  color: #c8c8c8;
}
.nav-active i {
  transform: scale3d(1.5, 1.5, 1.5);
}
.light {
  background: #3AB76D;
}
.alt {
  background: #FE7251;
}
.dark {
  background: #222;
}
.center {
  text-align: center;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
a {
  transition: all 0.1s ease-in-out;
}
hr {
  max-width: 80px;
  border-width: 2px;
  margin: 40px auto;
}
.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #3AB76D;
  color: #F7F7F7;
  margin: 50px 5px 10px 5px;
  border-radius: 6px;
  padding: 15px 30px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px #111;
  transition: all 0.1s ease-in-out;
  flex: 0 0 auto;
}
.button:hover {
  background-color: #3AB76D;
  border-color: #fff;
  color: #fff;
}
.a-contact {
  color: #F7F7F7;
  text-shadow: 3px 3px 2px #111;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.a-contact:active {
  text-shadow: 0 0 0;
}
.a-contact:hover {
  color: #3AB76D;
}
.container {
  background: rgba(34, 34, 34, 0.4);
  margin: 5% 25% 0 25%;
  width: 50%;
  border-radius: 15px;
  padding: 25px 0 25px 0;
}
@media only screen and (max-width: 950px) and (min-width: 461px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 460px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}
nav {
  overflow: hidden;
  width: 100%;
  position: fixed;
  background: rgba(34, 34, 34, 0.1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
@media only screen and (max-width: 950px) and (min-width: 461px) {
  nav {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 460px) {
  nav {
    font-size: 3.5vw;
  }
}
nav .navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
}
nav .navbar-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
nav .navbar-nav li {
  float: left;
}
nav .navbar-nav a {
  display: block;
  text-align: center;
  padding: 16px 30px 16px 30px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  color: #dcdcdc;
}
nav .navbar-nav a p {
  opacity: 0;
  position: fixed;
  color: #222;
  background: #F7F7F7;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  transform: translateX(-5%) translateY(18px);
  font-size: .5em;
  transition: all 0.5s ease-in;
  transition-delay: .3s;
}
nav .navbar-nav a p::before {
  content: "";
  position: absolute;
  top: -0.8vw;
  left: 50%;
  margin-left: -0.5vw;
  border-width: .5vw;
  border-style: solid;
  border-color: transparent transparent #F7F7F7  transparent;
}
@media only screen and (max-width: 950px) and (min-width: 461px) {
  nav .navbar-nav a {
    padding: 16px 15px 16px 15px;
  }
}
@media only screen and (max-width: 460px) {
  nav .navbar-nav a {
    padding: 16px 8px 8px 15px;
  }
}
nav .navbar-nav a:hover {
  color: #ffffff;
}
nav h1 {
  position: absolute;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10px;
  text-align: left;
  color: #F7F7F7;
  font-size: 1.25em;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.navbar-up-home {
  opacity: 0;
  position: absolute;
  width: 10%;
  margin: 0 45%;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.25vw;
}
@media only screen and (max-width: 950px) and (min-width: 461px) {
  .navbar-up-home {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 460px) {
  .navbar-up-home {
    font-size: 3.5vw;
    padding: 10px;
    margin: 0 40%;
  }
  .navbar-up-home:focus i {
    box-shadow: none;
  }
}
header,
section,
footer {
  width: 100%;
  min-height: 100%;
  padding: 30px 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #F7F7F7;
}
header h1,
section h1,
footer h1 {
  text-transform: uppercase;
  padding: 20px;
  font-size: 3.5vw;
  font-weight: 700;
}
header h2,
section h2,
footer h2 {
  text-transform: uppercase;
  padding: 20px;
  font-size: 3.8vw;
}
header p,
section p,
footer p {
  padding: 15px;
  font-size: 2.2vw;
}
header {
  height: 100%;
  background-position: center;
  background-image: url(../../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
header div {
  margin-top: 10% !important;
}
header a {
  position: absolute;
  width: 10%;
  left: 45%;
  top: 80vh;
  font-size: 2vw;
}
header a .fa-circle {
  opacity: 1;
  color: #FE7251;
}
header a .inverse {
  color: #ffffff;
}
header a i {
  transition: all 0.1s ease-in-out;
  text-shadow: none;
}
header a:hover i {
  transform: scale3d(1.3, 1.3, 1.3);
}
header a:focus {
  text-shadow: none;
}
footer a {
  font-size: 1.5vw;
}
footer .container {
  background: rgba(200, 200, 200, 0.1);
}
footer #email {
  margin: 2% 0 2% 0;
}
.show-proj-details:hover img,
.show-proj-details:active img {
  opacity: 0.3;
}
.show-proj-details:hover .img-text,
.show-proj-details:active .img-text {
  top: 5%;
}
.show-proj-details:hover .img-info-expand,
.show-proj-details:active .img-info-expand {
  opacity: 0;
}
.img-container {
  overflow: hidden;
  width: 21%;
  min-width: 300px;
  background-color: #F7F7F7;
  color: #222;
  font-weight: 700;
  text-align: right;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  margin: 0 20px 25px 20px;
  border-radius: 5px;
  /*&:hover .fa-search-plus{
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%);
    font-size: 6vw;
    opacity: 1;
    //color: @color-dark;
    //transform: rotate(180deg);
    text-shadow: none;

  }*/
}
.img-container div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
}
.img-container div a {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
.img-container p {
  font-size: 1.5vw;
  padding: 4px 8px 8px 8px;
}
.img-container strong {
  font-weight: 700;
  color: #3AB76D;
}
.img-container em {
  color: #FE7251;
}
.img-container .img-info-expand {
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 10%;
  height: 6%;
  left: 45%;
  top: -2px;
  transition: all 0.3s ease-in-out;
}
.img-container .img-info-expand:hover img,
.img-container .img-info-expand:active img {
  opacity: 0.3;
}
.img-container .img-info-expand:hover .img-text,
.img-container .img-info-expand:active .img-text {
  top: 5%;
}
.img-container .img-info-expand:hover .img-info-expand,
.img-container .img-info-expand:active .img-info-expand {
  opacity: 0;
}
.img-container .img-info-expand i {
  background: #F7F7F7;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 4px 0 rgba(34, 34, 34, 0.8);
  font-size: 1em;
}
.img-container img {
  transition: all .4s ease;
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
  border-radius: 0;
}
.img-container .img-text {
  transition: all .4s ease;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 5px;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}
.img-container .img-text .fa-check-circle-o {
  color: #3AB76D;
}
.img-container .img-text .fa-times-circle-o {
  color: #FE7251;
}
.img-container .img-text p {
  transition: all 0.3s ease-in-out;
  font-size: 1.5vw;
  padding: 8px;
  font-weight: 700;
  color: #F7F7F7;
  text-align: left;
}
.img-container .img-text p i {
  position: relative;
  color: #F7F7F7;
}
.img-container .fa-search-plus {
  opacity: .9;
  transition: all .4s ease;
  color: #F7F7F7;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -35%);
  -ms-transform: translate(-50%, -35%);
  font-size: 5vw;
  text-shadow: 10px 10px 15px #222;
}
.img-container:hover img,
.img-container:active img {
  opacity: 0.3;
}
.img-container:hover .img-text,
.img-container:active .img-text {
  top: 5%;
}
.img-container:hover .img-info-expand,
.img-container:active .img-info-expand {
  opacity: 0;
}
